@import './global'; // Import global styles

.authenticated-header {
  &.dark {
    background-color: $primary_color; 
    color: $secondary_color;

    .logo-container {
      img {
        filter: brightness(0) saturate(100%) invert(85%) sepia(8%) saturate(131%) hue-rotate(180deg) brightness(110%) contrast(110%);
      }
    }

    .ant-menu-item {
      color: $secondary_color !important;

      &:hover {
        color: $warning_color !important;
        border-bottom: 2px solid $success_color !important;
      }
    }

    .logo-text {
      color: $secondary_color !important;

      &:hover {
        color: $warning_color !important;
      }
    }

    .search-input {
      border-color: $secondary_color;
      background-color: $primary_color;
    }

    .avatar {
      border-color: $secondary_color;
    }
  }

  &.light {
    background-color: $secondary_color;
    color: $primary_color;

    .ant-menu-item {
      color: $primary_color !important;

      &:hover {
        color: $success_color2 !important;
      }
    }

    .logo-text {
      color: $primary_color !important;

      &:hover {
        color: $success_color2 !important;
      }
    }

    .search-input {
      border-color: $primary_color;
      background-color: $secondary_color;
    }

    .avatar {
      border-color: $primary_color;
    }
  }

  .search-input {
    width: 200px;
    margin-right: 20px;
  }

  .avatar {
    border-radius: 50%;  // Make avatar round
    padding: 5px; // Optional padding to keep the shape neat
    cursor: pointer;
  }

  .theme-toggle {
    background-color: $tertiary_color;
    border-color: $tertiary_color;

    .ant-switch-inner {
      color: $primary_color;
    }

    &.light {
      background-color: $tertiary_color2;
      .ant-switch-inner {
        color: $secondary_color;
      }
    }
  }
}