$primary_color: #1c1c3c;
$secondary_color: #dceff6;
$tertiary_color: #0ea0f5;
$tertiary_color2:#007bff;
$warning_color: #ff9900;
$danger_color: #ff0000;
$success_color: #0ee00e;
$success_color2: #066806;