$primary_color: #1c1c3c;
$secondary_color: #dceff6;
$tertiary_color: #0ea0f5;
$tertiary_color2:#0e539c;
$warning_color: #e78e07;
$danger_color: #e70505;
$success_color: #0ee00e;
$success_color2: #035a03;