@import './global'; // Import global styles

.header {
  z-index: 1000;
  background-color: $primary_color; // Primary color for header background
  transition: background-color 0.3s ease;

  &.scrolled {
    background-color: transparent; // Change background when scrolled
  }

  .ant-menu {
    background-color: transparent; // Ensure menu blends with header
    border-bottom: none; // Remove bottom border
  }

  .menu-item {
    color: white;
    position: relative;
    display: inline-block;
    font-weight: bolder;

    &:hover {
      color: $tertiary_color2 !important; // Highlight color on hover
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px; // Line thickness
      background-color: $tertiary_color2;
      transition: width 0.3s ease, background-color 0.3s ease; // Smooth animation
    }

    &:hover::after {
      width: 100%;
    }
  }

  .btn-support {
    border: 2px solid $secondary_color;
    color: white;
    background-color: transparent;
  
    &:hover {
      background-color: $tertiary_color !important;
      border-color: $secondary_color !important;
      color: white !important;
    }
  }

  .btn-purchase-now {
    background-color: $tertiary_color;
      border-color: $secondary_color;
      color: white;
    
    &:hover {
        color: white !important;
        border: 2px solid $secondary_color !important;
        background-color: transparent !important;
    }
  }
  
    &.btn-primary {
      background-color: $tertiary_color2;

      &:hover {
        background-color: darken($tertiary_color2, 10%); // Darker hover effect
      }
    }

    svg {
      margin-right: 8px; // Space between icon and text
    }
  }

  .filter-white {
    filter: brightness(0) invert(1); // Make images white
  }

  .ant-drawer {
    .ant-drawer-content {
      background-color: $primary_color; // Match drawer with header
    }

    .ant-drawer-title {
      color: white;
      font-size: 1.25rem;
      font-weight: bold;
    }

    .ant-drawer-body {
      padding: 0;

      .menu-item {
        color: red;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1); // Subtle hover effect
        }
      }
    }
  }
