@import './global'; // Import global styles

.spin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px; // Customize the container height
  width: 100%;
}
