@import './global'; // Importing global.scss

body {
  font-family: Arial, sans-serif;
  background-color: $secondary-color;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}