@import './global';

.message-display-area {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  height: 50vh;
  scrollbar-width: thin;

  &.dark {
    background-color: lighten($primary_color, 5);
    color: $secondary_color;
    scrollbar-color: $primary_color $secondary_color;

    .message-list {
      .message-item {
        &.user-message {
          background-color: lighten($secondary_color, 15);
          color: $primary_color;
        }
  
        &.ai-message {
          background-color: $secondary_color;
          color: darken($color: $primary_color, $amount: 35);
        }
      }
    }
  }

  &.light {
    background-color: darken($secondary_color, 5);
    color: $primary_color;
    scrollbar-color: $secondary_color $primary_color;

    .message-list {
      .message-item {
        &.user-message {
          background-color: lighten($primary_color, 10);
          color: $secondary_color;
        }
  
        &.ai-message {
          background-color: darken($primary_color, 10);
          color: lighten($secondary_color, 15);
        }
      }
    }
  }

  .message-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .message-item {
      max-width: 70%;
      padding: 10px;
      border-radius: 8px;
      font-size: 14px;

      &.user-message {
        align-self: flex-end;
      }

      &.ai-message {
        align-self: flex-start;
      }
    }
  }
}
