@import './global'; // Import global styles

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; // Ensures the header stays on top
  width: 100%;
  background-color: transparent; // Change background when scrolled
  transition: background-color 0.3s ease;
  padding: 10px 0; // Adjust padding to your preference

  .logo-img {
    width: 50px;
    height: auto;
  }

  &.scrolled {
    background-color: darken($color: $primary_color, $amount: 10); // Primary color for header background
  }

  .ant-menu {
    background-color: transparent; // Ensure menu blends with header
    border-bottom: none; // Remove bottom border
  }

  .menu-item {
    color: $secondary_color !important;
    position: relative;
    display: inline-block;
    font-weight: bolder;

    &:hover {
      color: $tertiary_color2 !important; // Highlight color on hover
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px; // Line thickness
      background-color: $tertiary_color2;
      transition: width 0.3s ease, background-color 0.3s ease; // Smooth animation
    }

    &:hover::after {
      width: 100%;
    }
  }

  .btn-support {
    border: 2px solid $secondary_color;
    color: $secondary_color;
    background-color: transparent;

    &:hover {
      background-color: $tertiary_color !important;
      border-color: $secondary_color !important;
      color: $secondary_color !important;
    }
  }

  .btn-purchase-now {
    background-color: $tertiary_color !important;
    border-color: $secondary_color;
    color: $secondary_color;

    &:hover {
      color: $secondary_color !important;
      border: 2px solid $secondary_color !important;
      background-color: transparent !important;
    }
  }

  &.btn-primary {
    background-color: $tertiary_color2;

    &:hover {
      background-color: darken($tertiary_color2, 10%); // Darker hover effect
    }
  }

  svg {
    margin-right: 8px; // Space between icon and text
  }

  .filter-white {
    filter: brightness(0) invert(1); // Make images white
  }

  .ant-drawer {
    .ant-drawer-content {
      background-color: $primary_color; // Match drawer with header
    }

    .ant-drawer-title {
      color: $secondary_color;
      font-size: 1.25rem;
      font-weight: bold;
    }

    .ant-drawer-body {
      padding: 0;

      .menu-item {
        color: $danger_color !important;

        &:hover {
          background-color: $tertiary_color2 !important; // Subtle hover effect
        }
      }
    }
  }

  .logo-container {
    display: flex;
    align-items: center;
    transition: color 0.3s ease;

    &:hover {
      color: $tertiary_color2;
    }

    img {
      transition: filter 0.3s ease;

      &:hover {
        filter: brightness(0) saturate(100%) invert(43%) sepia(35%) saturate(3353%) hue-rotate(163deg) brightness(107%) contrast(102%);
      }
    }

    span {
      transition: color 0.3s ease;

      &:hover {
        color: $tertiary_color2 !important;
      }
    }
  }
}
